# 本地临时测试文件
temp/
temp.js
*.temp.js

# 开发配置文件
.editorconfig
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc

# 依赖文件
node_modules/
jspm_packages/

# 文档目录
docs/

# 测试目录
test/
